@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
	font-family: 'Montserrat', sans-serif !important;
	scroll-behavior: smooth;
}
nav.navbar {
	background-color: #fffa6b !important;
}

/*Landing Page*/
#landing-page {
	/*height: 95vh;*/
	background-color: #fffa6b;
	height: 900px;
}

h1.banner-h1 {
	font-size: 4rem;
	/*color: #FFD926;*/
}

button.about-btn {
	/*background-color: #FFD926;*/
}
.wave {
	position: absolute;
	bottom: 420px;
	z-index: 1001;
}
#about {
	/*height: 80vh;*/
	/*height: 800px;*/
}

.about-img {
	/*border-radius: 15%;*/
}

.project-text {
	/*width: 50%;*/
}

#projects {
	/*height: 90vh;*/
	background-color: #FFDF70;
}
.project-btn {
	background-color: #FFD926;
}
.project-h2 {
	
}

.contact-me {
	/*text-decoration: underline;*/
	text-decoration-color: #FFD926;
	text-decoration;
}
.send-btn {
	background-color: #FFD926;
}
footer {
	background-color: #FFD926;
}